<div ng-include="nav"></div>
<div class="container">
    <div class="row">

        <h3 class="page-header">
            <small><strong>M</strong>ongoDB, <strong>E</strong>xpressJs, <strong>A</strong>ngularJs, <strong>N</strong>odeJs
            </small>
        </h3>

        <!-- boucle sur les articles -->
        <div class="row">
            <div ng-repeat="article in articles">
                <div class="card">
                    <div class="card-image">
                        <img src="images/900x250.png" height="50%" alt="">
                        <span class="card-title">{{ article.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>Post <span class="blue-text">{{ article.create_at }}</span></p>
                    </div>
                    <div class="card-content">
                        <p>{{ article.content }}</p>
                    </div>
                    <div class="card-content">
                        <p>By <span class="blue-text">{{ article.author }}</span></p>
                    </div>
                    <div class="card-action">
                        <a href="#/article/{{ article._id }}">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
